// BUTTONS
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  box-shadow: $box-shadow;
}

.btn {
  @extend %btn-shared;

  &--main {  
    width: 100%;
    background-color: $bright-yellow-color;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 3px;

    &:hover {
      transform: translateY(-2px) scale(1.025);
  
      @include mq($med) {
        transform: none;
      }
    }
  }
}